body {
  /* background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.home-title {
  text-align: center;
}

/* Nav Bar */

.nav-list {
  text-align: center;
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  padding: 15px;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 25px;
  padding: 3px 10px;
}

/* Ingredient List */

.ingredient-list {

}

.ingredient-list-item {
  text-transform: capitalize;
  list-style-position: outside;
}

.ingredient-list-link {
  text-decoration: none;
}

/* Ingredient Details */

.ingredient-title {
  text-transform: capitalize;
}


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
